/* GENERAL config */
* {
    box-sizing: border-box;
}

pre {
    white-space: pre-wrap;
    word-wrap: anywhere;
}

#tab-2-content {
    background-color: rgb(32, 30, 7);
}

.hiddenButton {
    all: unset;
    cursor: pointer;
}

.asmInstruction {
    color: yellow;
}
.asmVariable {
    color: #abcdef;
}
.asmComment {
    color: #6d6d6d;
}
.asmDirective {
    color: darkgoldenrod;
    /* font-weight: bold; */
}
.asmLabel {
    color: #30aabc;
}
.asmNumber {
    color: violet;
}
.asmError {
    background-color: rgb(124, 0, 0);
}

::selection {
	color: #114;
	background: rgb(202, 202, 238);
}

.msg_failure {
	font-weight: bold;
	color: red;
}
.msg_success {
	font-weight: bold;
	color: green;
}

